<nav>
  <a routerLink="concepts-de-base" routerLinkActive="active">Concepts de base</a>
  <a routerLink="les-formulaires" routerLinkActive="active">Les formulaires</a>
  <a routerLink="les-services" routerLinkActive="active">Les services</a>
  <a routerLink="la-communication" routerLinkActive="active">La communication</a>
  <a routerLink="les-pipes" routerLinkActive="active">Les pipes</a>
  <a routerLink="la-navigation" routerLinkActive="active">La navigation</a>
</nav>

<router-outlet></router-outlet>
